@font-face {
    font-family: 'ArcherPro';
    src: url('../fonts/ArcherPro-Medium.woff2') format('woff2'),
    url('../fonts/ArcherPro-Medium.woff') format('woff'),
    url('../fonts/ArcherPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlockGothicRR  2';
    src: url('../fonts/BlockGothicRR-Regular7.woff2') format('woff2'),
    url('../fonts/BlockGothicRR-Regular7.woff') format('woff'),
    url('../fonts/BlockGothicRR-Regular7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArcherPro';
    src: url('../fonts/ArcherPro-Bold.woff2') format('woff2'),
    url('../fonts/ArcherPro-Bold.woff') format('woff'),
    url('../fonts/ArcherPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArcherPro';
    src: url('../fonts/ArcherPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/ArcherPro-MediumItalic.woff') format('woff'),
    url('../fonts/ArcherPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'another shabby';
    src: url('../fonts/anothershabby.woff2') format('woff2'),
    url('../fonts/anothershabby.woff') format('woff'),
    url('../fonts/anothershabby.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Populaire';
    src: url('../fonts/Populaire.woff2') format('woff2'),
    url('../fonts/Populaire.woff') format('woff'),
    url('../fonts/Populaire.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Garamond-Bold.woff2') format('woff2'),
    url('../fonts/Garamond-Bold.woff') format('woff'),
    url('../fonts/Garamond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

