/* VARIABLES */

$assetsRed: #C23732;
$darkOrange: #50352A;
$darkbrown: #331500;
$lightBrown: #50352A;
$white: #FFF;
$bgOrange: #ae5205;

/* FIN VARIABLES */

// FONTS

.pop {
  font-family: Populaire, serif;
}

.archer {
  font-family: ArcherPro, serif;
}

.archerLight {
  font-family: ArcherProLight, serif;
}

.shabby {
  font-family: Another Shabby, sans-serif;
}

.BGRR {
  font-family: BlockGothicRR, serif;
}

body {
  max-width: 100vw;
}

// MOBILE

img {
  max-width: 37.4375em;
}

body {
  max-width: 100vw;
  margin: 0 auto;
  background: -100% -50% / 800px 500px repeat url("../images/img/paper@2x-3965dd6727.jpg");
}

.hd_link, .ft_link {
  width: 30px;
  height: 30px;
}

.background-wrapper-landscape {
  position: absolute;
  min-width: 100vw;
  max-width: 599px;
  height: 600px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  z-index: -1;
  background: 20% 0 / cover url('../images/img/background-bad0d796cd.jpg') no-repeat;
}

// HEADER

.header {
  &__links {
    display: none;
  }
}

.nav__links, .nav__nailsTop, .nav__nailsBottom {
  display: none;
}

.nav {

  &__name {
    display: flex;
    width: 100vw;
    padding: 1.125em 0;
    margin-bottom: 2.5em;
    justify-content: center;
    font-family: Garamond, sans-serif;
    font-weight: bold;
    color: $darkOrange;
    text-transform: uppercase;
    font-size: 16px;
    background: url('../images/img/background-6bf1060436.png') -1px 100% no-repeat;
  }

}

// SECTION infos

.infos {
  &__pictures {
    max-width: 12.9375em;
    background-color: transparent;
    margin: 0 auto;
  }

  &__pictures__popup {
    display: none;
  }

  &__pictures__panel {
    background: left bottom / 78px 66px no-repeat url('../images/img/panel-c6799123c2.png');
    position: relative;
  }

  &__pictures__panel__nationality {
    display: flex;
    position: absolute;
    bottom: 35px;
    left: 17px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    color: $darkbrown;
    transform: rotate(-6deg);
  }

  &__pictures__img {
    max-width: 350px;
    margin-bottom: 90px;
  }

  &__pictures__img img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
  }

  &__history {
    max-width: 374px;
    margin: 0 auto;
  }

  &__historyBG {
    display: flex;
    position: absolute;
    z-index: -1;
    background-color: $bgOrange;
    width: 100vw;
    height: 847px;
    transform: translateY(-18px);
  }

  &__history__title {
    font-size: 70px;
    color: $white;
  }

  &__history__desc {
    font-size: 16px;
    color: $white;
    line-height: 1.875;
    letter-spacing: 1.5px;
    margin-bottom: 115px;
  }

  &__table {
    position: relative;
    max-width: 90%;
    margin: 0 auto 125px;
    background: 0 50px / 800px 480px repeat-y url('../images/img/text01@2x-65513b81ec.jpg');
    z-index: -1;
    color: $lightBrown;
  }

  &__table__plank img {
    max-width: 100%;
    min-height: 32px;
    position: absolute;
    bottom: -30px;
    z-index: -2;
  }

  &__table__plank:before {
    content: '';
    background: 0 0 / 80px 32px no-repeat url('../images/img/wood_socle_left@2x-ea216ad5eb.png');
    min-height: 32px;
    min-width: 80px;
    position: absolute;
    bottom: -32px;
    left: -20px;
    z-index: -1;
  }

  &__table__plank:after {
    content: '';
    background: 0 0 / 80px 32px no-repeat url('../images/img/wood_socle_right@2x-94bd0c2568.png');
    min-height: 32px;
    min-width: 80px;
    position: absolute;
    bottom: -30px;
    right: -20px;
    z-index: -1;
  }

  &__table__contentWrapper:before {
    content: '';
    background: 0 0 / 599px 75px no-repeat url('../images/img/paper-border-top-24b034bd97.png');
    min-width: 100%;
    min-height: 75px;
    position: absolute;
    top: -10px;
    z-index: -1;
  }

  &__table__contentWrapper:after {
    content: '';
    background: 0 0 / 599px 75px repeat-x url('../images/img/paper-border-bottom-1684fa96a6.png');
    min-width: 100%;
    min-height: 75px;
    position: absolute;
    bottom: -10px;
  }

  &__table__nailsTop {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }

  &__table__nailsBottom {
    z-index: 1;
    display: flex;
    position: relative;
    padding: 0 10px;
    justify-content: space-between;
  }

  &__table__stats {
    padding: 25px 38px 0;
  }

  &__table__stats span {
    display: inline-block;
    margin-bottom: 60px;
    font-size: 18px;
  }

  .qualities {
    &__quality:after {
      content: '';
      display: block;
      background: 0 0 / 220px 10px no-repeat url('../images/img/bullets-6f267be3b6.png');
      min-width: 220px;
      min-height: 10px;
      margin-top: 20px;
    }

    &__quality:not(:last-child) {
      padding-bottom: 35px;
    }
  }

  &__table__reasons {
    padding: 50px 38px 40px;
  }

  &__table__reasons span {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 50px;
  }

  &__table__reasons__list {

  }

  &__table__reasons__list__item {
    position: relative;
  }

  &__table__reasons__list li:nth-of-type(1), &__table__reasons__list li:nth-of-type(2) {
    padding-bottom: 20px;
  }

  .item {
    display: flex;
    align-items: center;

    &__beanies {
      max-height: 70px;
      position: relative;
    }

    &__beanies__img {
      width: 70px;
      height: 70px;
      position: absolute;
      left: -15px;
      top: -15px;
    }

    .imgR {
      left: -5px;
    }

    &__beanies__number {
      padding: 15px;
      border: 1px solid black;
      border-radius: 100%;
      margin: 0;
    }

    &__text {
      padding-left: 35px;
      font-style: italic;
      opacity: 0.8;
    }
  }

}

.futur {
  max-width: 90%;
  margin: 0 auto;
  color: $lightBrown;

  &__pictures img:first-of-type {
    display: none;
  }

  &__pictures {
    max-width: 100%;
    padding-bottom: 52px;
  }

  &__pictures img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 6px solid white;
    box-sizing: border-box;
  }

  &__job__title {
    font-size: 50px;
    padding-bottom: 36px;
  }

  &__job__desc {
    display: none;
  }

  .btn {
    margin-left: 20px;

    &__button {
      text-decoration: none;
      display: inline-block;
      border: none;
      color: $white;
      letter-spacing: 1px;
      padding: 20px 33px;
      font-size: 24px;
      text-transform: uppercase;
      background-color: $assetsRed;
      margin-bottom: 140px;
      position: relative;
    }

    &__topBorder {
      background: 0 0 / 293px 10px repeat-x url("../images/img/red_top@2x-3142fe3109.png");
      min-width: 100%;
      min-height: 20px;
      position: absolute;
      top: -10px;
      left: 0;
    }

    &__bottomBorder {
      background: 0 0 / 293px 10px repeat-x url("../images/img/red_bottom@2x-cca6a4c27a.png");
      min-width: 100%;
      min-height: 20px;
      position: absolute;
      bottom: -15px;
      left: 0;
    }

    &__leftBorder {
      background: 0 0 / 20px 94px no-repeat url("../images/img/red_left@2x-e2def9bafc.png");
      min-width: 20px;
      min-height: 100%;
      position: absolute;
      left: -20px;
      top: 0;
    }

    &__leftBorder:before {
      content: "";
      background: 0 0 / 30px 40px no-repeat url("../images/img/red_top_left@2x-8cf8100369.png");
      min-width: 40px;
      min-height: 40px;
      position: absolute;
      left: 0;
      top: -14px;
    }

    &__leftBorder:after {
      content: "";
      background: 0 0 / 30px 40px no-repeat url("../images/img/red_bottom_left@2x-a2d2ef1c10.png");
      min-width: 40px;
      min-height: 40px;
      position: absolute;
      left: 0;
      bottom: -10px;
    }

    &__rightBorder {
      background: 0 0 / 20px 94px no-repeat url("../images/img/red_right@2x-a169e9794c.png");
      min-width: 20px;
      min-height: 100%;
      position: absolute;
      right: -20px;
      top: 0;

    }

    &__rightBorder:before {
      content: "";
      background: 0 0 / 40px 40px no-repeat url("../images/img/red_top_right@2x-9a146dada2.png");
      min-width: 40px;
      min-height: 40px;
      position: absolute;
      right: 0;
      top: -14px;
    }

    &__rightBorder:after {
      content: "";
      background: 0 0 / 40px 40px no-repeat url("../images/img/red_bottom_right@2x-2ac15eb419.png");
      min-width: 40px;
      min-height: 40px;
      position: absolute;
      right: 0;
      bottom: -10px;
    }

  }


}

